# Required
DISCORD_TOKEN=
GUILD_ID=
CHANNEL_ID=
SQUADLEADER_ROLE_ID=

# Optional
NOTIFICATION_ROLE_ID=
TIMEZONE=Europe/Berlin
SIGNUP_POST_CRON=0 0 12 * * 5
PICK_LEADERS_CRON=0 0 12 * * 1
VOTE_REMINDER_CRON=0 0 18 * * 0
CLOSE_VOTE_CRON=0 0 10 * * 1
INACTIVITY_WEEKS=4
